# Backend API Example
VITE_API_URL=https://your-backend-domain.vercel.app/api
VITE_ADMIN_URL=https://your-admin-domain.vercel.app

# EmailJS Credentials Example
VITE_EMAILJS_SERVICE_ID=your_service_id
VITE_EMAILJS_TEMPLATE_ID=your_template_id
VITE_EMAILJS_PUBLIC_KEY=your_public_key


